NODE_ENV=development
APP_PORT=7001
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=single_sign_on_db
DB_USERNAME=root
NON_ROOT_USERNAME=fileuser
DB_PASSWORD=welcome123$

DATABASE_URL="mysql://root:@localhost:3306/single_sign_on_db"
SERVICE_PROVIDER_URL=http://localhost:8001
IDP_PROVIDER_URL=http://localhost:7001
ENCRYPTION_KEY=value-here

RELAY_STATE=

#MAILER CONFIG
MAIL_MAILER=smtp
MAIL_HOST=host
MAIL_PORT=2525
MAIL_USERNAME=username
MAIL_PASSWORD=password
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="hello@example.com"
APP_NAME="OGSP"

IDP_PRIVATE_KEY_B64="value"
IDP_CERTIFICATE_B64="value"

